
body {
    background-color: #858585;
    overflow-x: hidden;
}

.header {
    background-image: url("../png/header.jpg");
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.content {

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.content1 {
    display: flex;
    justify-self: center;
    background-image: url("../png/content.png");
    opacity: 1;
    height: 1800px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.sidebar {
    background-image: url("../png/content.png");
    width: 250px;
    height: 1800px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin-right: 20px;
}

.sidebar1 {
    background-image: url("../png/content.png");
    width: 250px;
    height: 1800px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin-bottom: 200px;
    margin-left: 20px;
}

.carousel-item {
    opacity: 1;
    border-radius: 100px;
    width: 1263px;
    height: 330px;
    z-index: 1;
}

.carousel-inner {
    border-radius: 25px;
}

.heder {

    display: flex;
    justify-content: space-between;
}

/*
---------ნავიგაცია----------
*/


.nav {
    width: 1910px;
    height: 71px;
    display: inline-flex;
    justify-content: space-around;
    background-color: #000000;
    position: fixed;
    z-index: 2;
}

.menu-bar {
    display: flex;
    float: left;
    color: #d60015;
    padding-top: 10px;
    margin-right: 45px;
}

.menu-bar ul {
    display: flex;
    float: left;
    font-weight: bold;
}

.menu-bar ul li {
    display: flex;
    margin-right: 20px;
    padding: 10px;
    transition-duration: 0.5s;
}

.menu-bar ul li:hover {
    border-radius: 3px;
    background: #858585;
    transition-duration: 0.5s;
}

.menu-bar ul li a {
    font-family: "MG Glaho Drunk", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
}

.sub-menu1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.67);
    width: 180px;
    height: 330px;
    margin-top: 35px;
    margin-left: -45px;
}


.menu-bar ul li:hover .sub-menu1 ul {

    display: block;
    margin: 10px;
    margin-left: -5px;
}


/*
-----------ნავიგაცია!!!--------
*/
.film {
    font-family: 'Frijole', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    cursor: default;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    transition-duration: 1s;
}

.film:hover {
    font-family: 'Frijole', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    cursor: default;
    background-color: #ffffff;
    color: #000000;
    -webkit-animation: rotate-vert-left 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    animation: rotate-vert-left 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    transition-duration: 1s;
    border-radius: 10px;
}

.any {
    font-family: 'Frijole', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    cursor: default;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    transition-duration: 1s;
}

.any:hover {
    font-family: 'Frijole', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    cursor: default;
    background-color: #ffffff;
    color: #000000;
    -webkit-animation: rotate-vert-right 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    animation: rotate-vert-right 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
    transition-duration: 1s;
    border-radius: 10px;
}

.footer {
    display: flex;
    width: 1910px;
    height: 250px;
    background-image: url("../png/content.png");
    justify-content: right;

}

.footer-logo {
    margin-top: -120px;
    margin-left: 20px;
    display: flex;
    align-self: center;
    font-family: 'Frijole', cursive;
    font-size: 20px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-radius: 10px;
}

.footer-logo:hover {
    margin-top: -120px;
    margin-left: 20px;
    display: flex;
    align-self: center;
    font-family: 'Frijole', cursive;
    font-size: 20px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    border-radius: 10px;
}


.power {
    display: flex;
    align-self: flex-end;
    margin-bottom: 20px;
    font-family: "Arial Rounded MT Bold", serif;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    color: #710010;
    border-radius: 10px;
    margin-left: 1400px;
    transition-duration: 0.5s;

}

.power:hover {
    display: flex;
    align-self: flex-end;
    margin-bottom: 25px;
    font-family: "Arial Rounded MT Bold", serif;
    font-weight: bold;
    font-size: 21px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0);
    color: #ba0014;
    border-radius: 10px;
    margin-left: 1395px;
    transition-duration: 0.5s;
}


/*
<--------------ანიმაცია----------->
*/
@-webkit-keyframes rotate-vert-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}

@keyframes rotate-vert-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}

@-webkit-keyframes rotate-vert-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}

@keyframes rotate-vert-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}

/*<------------------ანიმაცია!!!------------->*/

